{# templates/films/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Films - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Film: {{ film.title }}</h1>

                <figure>
                    <blockquote class="blockquote">
                        <p>Director <strong>{{ film.director }}</strong></p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        Release date <strong>{{ film.releaseDate|date }}</strong>
                    </figcaption>
                </figure>

                <h5>Characters</h5>
                <ul class="list-group list-group-flush">
                    {% for character in film.characters %}
                        <li class="list-group-item">
                            <a href="#">{{ character.name }}</a>
                        </li>
                    {% else %}
                        <li class="list-group-item">There is not info about characters.</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
