{# templates/films/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Films - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Films</h1>

                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Released date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for film in films %}
                        <tr>
                            <td>
                                <a href="{{ path('films_detail', {'id': film.id}) }}">{{ film.title }}</a>
                            </td>
                            <td>{{ film.releaseDate|date }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="2">Impossible to retrieve the data.</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {{ knp_pagination_render(films) }}
            </div>
        </div>
    </div>
{% endblock %}
